function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label SquareGame.run.0.LOOP
push local 1
not
not
if-goto SquareGame.run.1.CONTINUE
label SquareGame.run.2.LOOP
push local 0
push constant 0
eq
not
if-goto SquareGame.run.3.CONTINUE
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame.run.2.LOOP
label SquareGame.run.3.CONTINUE
push local 0
push constant 81
eq
if-goto SquareGame.run.4.TRUE
goto SquareGame.run.5.FALSE
label SquareGame.run.4.TRUE
push constant 0
not
pop local 1
label SquareGame.run.5.FALSE
push local 0
push constant 90
eq
if-goto SquareGame.run.7.TRUE
goto SquareGame.run.8.FALSE
label SquareGame.run.7.TRUE
push this 0
call Square.decSize 1
pop temp 0
label SquareGame.run.8.FALSE
push local 0
push constant 88
eq
if-goto SquareGame.run.10.TRUE
goto SquareGame.run.11.FALSE
label SquareGame.run.10.TRUE
push this 0
call Square.incSize 1
pop temp 0
label SquareGame.run.11.FALSE
push local 0
push constant 131
eq
if-goto SquareGame.run.13.TRUE
goto SquareGame.run.14.FALSE
label SquareGame.run.13.TRUE
push constant 1
pop this 1
label SquareGame.run.14.FALSE
push local 0
push constant 133
eq
if-goto SquareGame.run.16.TRUE
goto SquareGame.run.17.FALSE
label SquareGame.run.16.TRUE
push constant 2
pop this 1
label SquareGame.run.17.FALSE
push local 0
push constant 130
eq
if-goto SquareGame.run.19.TRUE
goto SquareGame.run.20.FALSE
label SquareGame.run.19.TRUE
push constant 3
pop this 1
label SquareGame.run.20.FALSE
push local 0
push constant 132
eq
if-goto SquareGame.run.22.TRUE
goto SquareGame.run.23.FALSE
label SquareGame.run.22.TRUE
push constant 4
pop this 1
label SquareGame.run.23.FALSE
label SquareGame.run.25.LOOP
push local 0
push constant 0
eq
not
not
if-goto SquareGame.run.26.CONTINUE
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame.run.25.LOOP
label SquareGame.run.26.CONTINUE
goto SquareGame.run.0.LOOP
label SquareGame.run.1.CONTINUE
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto SquareGame.moveSquare.0.TRUE
goto SquareGame.moveSquare.1.FALSE
label SquareGame.moveSquare.0.TRUE
push this 0
call Square.moveUp 1
pop temp 0
label SquareGame.moveSquare.1.FALSE
push this 1
push constant 2
eq
if-goto SquareGame.moveSquare.3.TRUE
goto SquareGame.moveSquare.4.FALSE
label SquareGame.moveSquare.3.TRUE
push this 0
call Square.moveDown 1
pop temp 0
label SquareGame.moveSquare.4.FALSE
push this 1
push constant 3
eq
if-goto SquareGame.moveSquare.6.TRUE
goto SquareGame.moveSquare.7.FALSE
label SquareGame.moveSquare.6.TRUE
push this 0
call Square.moveLeft 1
pop temp 0
label SquareGame.moveSquare.7.FALSE
push this 1
push constant 4
eq
if-goto SquareGame.moveSquare.9.TRUE
goto SquareGame.moveSquare.10.FALSE
label SquareGame.moveSquare.9.TRUE
push this 0
call Square.moveRight 1
pop temp 0
label SquareGame.moveSquare.10.FALSE
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
