function Memory.init 0
push constant 2048
pop static 1
push static 1
pop static 0
push constant 0
return
function Memory.peek 2
push argument 0
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
return
function Memory.poke 1
push argument 0
push local 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 1
push static 0
pop local 0
push static 0
push argument 0
add
pop static 0
push static 0
push constant 16383
gt
if-goto Memory.alloc.0.TRUE
goto Memory.alloc.1.FALSE
label Memory.alloc.0.TRUE
push constant 15
call String.new 1
push constant 77
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 119
call String.appendChar 2
call Output.printString 1
pop temp 0
call Sys.halt 0
pop temp 0
label Memory.alloc.1.FALSE
push local 0
return
function Memory.deAlloc 0
push constant 0
return
